/* Globalne style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #2c3e50, #34495e); /* Ciemny gradient */
    color: #ecf0f1; /* Jasny kolor tekstu */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    background-color: rgba(0, 0, 0, 0.8); /* Ciemniejsze tło nagłówka */
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #ecf0f1;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

header .logo {
    color: #ecf0f1;
    text-decoration: none;
    position: relative;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

header .logo:hover {
    color: #3498db; /* Delikatny niebieski kolor przy hover */
    transform: scale(1.1);
}

header .logo::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #3498db;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

header .logo:hover::before {
    opacity: 1;
    transform: scaleX(1);
}

main {
    margin-top: 120px;
    padding: 50px;
    text-align: center;
    width: 100%;
}

#selection {
    margin-bottom: 30px;
}

select, button {
    font-size: 1.2rem;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease;
}

select {
    background-color: #34495e; /* Ciemniejsze tło dla select */
    color: #ecf0f1;
}

button {
    background-color: #3498db; /* Jasny niebieski */
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
}

button:hover {
    background-color: #2980b9; /* Zmiana koloru przy hover */
    transform: translateY(-5px);
}

button:active {
    transform: translateY(2px);
}

#challenge {
    display: none;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#code-editor {
    width: 100%;
    height: 300px;
    background-color: #34495e; /* Ciemniejsze tło dla edytora */
    margin-top: 30px;
    border-radius: 8px;
    border: 1px solid #2c3e50;
    color: #ecf0f1;
    font-family: 'Courier New', Courier, monospace;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #1abc9c; /* Zielony kolor dla wyniku */
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
